@media all
{
	#mf_custom_login
	{
		background: #fff;
		border: 1px solid #d8d8d8;
		box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
		margin-bottom: 20px;
		padding: 26px 24px;
	}

		#mf_custom_login > h2
		{
			line-height: 1.3em;
		}

		#mf_custom_login > p
		{
			margin-top: 1em;
		}

		#mf_custom_login img
		{
			max-width: 100%;
		}
}

@media (min-width: 740px)
{
	#login
	{
		position: relative;
		width: 740px;
	}

	#mf_custom_login, .message, #loginform, #nav, #backtoblog
	{
		box-sizing: border-box;
	}

	#mf_custom_login
	{
		float: right;
		margin-left: 4%;
		width: 48%;
	}

	.message
	{
		margin-bottom: 20px;
	}

	#loginform
	{
		margin-top: 0;
	}

	.message, #loginform, #nav, #backtoblog
	{
		clear: left;
		float: left;
		width: 48%;
	}
}